body{
    margin: 0;
}



.listing{
    display: inline-block;
    margin-right: 50px;
}

.category{
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-top: 30px;
}

.product-img-div{
    display: inline-block;
}

.responsive{
    height: 400px;
    width: 300px;
}
.product-info{
    transform: translateY(50px);
}

.options{
    margin-top: 10px;
}

.prod-2{
    transform: translate(0, 60px);
}

.del-btn{
    position: absolute;
    background-color: white;
    border-color: black;
    color: black;
    border-radius: 20px;
}

.del-btn:active{
    background-color: darkred;
    border-color: transparent;
}

.add-btn:active{
    background-color: green;
    border-color: transparent;
}


.del-img{
    height: 30px;
    width: 30px;
}

.add-btn{
        position: absolute;
        background-color: white;
        border-color: black;
        border-radius: 20px;
        color: black;
        transform: translateX(255px);
}


.addimg{
    height: 30px;
    width: 30px;
}


