body{
    padding: 0;
    margin: 0;
}

.products{
    display: flex;   
}

.product img {
    height: 400px;
    width: 300px;
}

.product {
    padding: 0px 10px;
}

.product button{
    border-radius: 5px;
    border-color: white;
    color: white;
    background-color: #404040;
    padding-left: 2px;
    padding-right: 2px;
}